<!-- <h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 6!!</p>
<h3>All registered users:</h3>
<ul>
    <li>
        {{currentUser.username}} ({{currentUser.name}})
        - <a (click)="deleteUser(currentUser.id)" class="text-danger">Delete</a>
    </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p> -->

<div class="big-img">
  <img src="../../assets/images/login-wallpaper.jpg" alt="">
</div>
<main class="container">
  <div class="company">
    <h1 class="font-effect-ice">Vision</h1>
    <h2 class="font-effect-ice">First</h2>
    <div class="tech">
      <h3 class="font-effect-canvas-print">Technologies</h3>
    </div>
  </div>

  <div class="get-started">
    <h4>One stop destination for your all mobile app &amp; web solutions needs</h4>
  </div>

  <div class="connect">
    <a href="">Connect with us</a>
  </div>
</main>
